---
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'OpenAI API Cost Calculator',
};
---

<Layout metadata={metadata}>
  <iframe
    src="https://ngmisl.github.io/openai-cost-estimator/"
    width="100%"
    height="1000"
    frameborder="0"
    title="OpenAI Cost Estimator"
  >
  </iframe>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: '/contact',
        target: '_self',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
      Aunova&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">AI Advancements</span>
    </Fragment>

    <Fragment slot="subtitle">
      Explore a world of pioneering AI solutions and consulting services designed to uplift your business activities. <br
        class="hidden md:inline"
      /> Begin your AI adventure with Aunova today!
    </Fragment>
  </CallToAction>
</Layout>
