---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Smartcontract Development and Blockchain Consultancy",
  description:
    "Explore the frontier of blockchain technology with Aunova, your trusted guide in smart contract development and blockchain consultancy. Transform your digital landscape and foster innovation with our bespoke solutions. Your journey towards blockchain excellence begins here.",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Coming Soon</h1>
      <p class="fade-in">Aunova: Smartcontract Development and Blockchain Consultancy</p>
    </article>
  </Container>
</Layout>
