---

---

<style>
  header {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-text {
    color: #6c0000;
    font-size: 3rem; /* or whatever size you prefer */
    font-weight: bold; /* or whatever weight you prefer */
  }
</style>

<header>
  <span class="header-text">Aunova</span>
</header>
