---
import Layout from '~/layouts/PageLayout.astro';
import { type Props as MetadataProps } from '~/components/common/Metadata.astro';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetadataProps = {
  title: frontmatter.title,
  description: frontmatter.description,
};
---

<Layout metadata={metadata}>
  <div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-12 pb-12 md:pb-20">
    <div class="md:pb-12 max-w-screen-lg mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold mb-8 text-gray-900 dark:text-white">
        {frontmatter.title}
      </h1>
      <div class="prose prose-lg dark:prose-invert mx-auto">
        <slot />
      </div>
    </div>
  </div>
</Layout>
