---
import { twMerge } from 'tailwind-merge';
import type { ItemGrid } from '~/types';
import Button from './Button.astro';
import Image from '../common/Image.astro';

const { items = [], columns, classes = {} } = Astro.props as ItemGrid;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  action: actionClass = '',
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid mx-auto gap-8 md:gap-y-12 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
            ? 'lg:grid-cols-3 sm:grid-cols-2'
            : columns === 2
            ? 'sm:grid-cols-2 '
            : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, image, linkanchor, linkstitle, callToAction, classes: itemClasses = {} }) => (
        <div>
          <div class={twMerge('flex flex-col max-w-md', panelClass, itemClasses?.panel)}>
            <div class="flex justify-center">
              {image && (
                <Image
                  class="w-[300px] h-auto mt-4 rounded-xl mx-auto"
                  width="auto"
                  height={620}
                  widths={[400, 768]}
                  layout="fullWidth"
                  {...(image as any)}
                />
              )}
            </div>
            <div class="flex justify-center items-center h-full ">
              <a href={linkanchor} target="_blank" class="text-center text-blue-800 font-bold">
                {linkstitle}
              </a>
            </div>
            <div class="mt-0.5">
              {title && <h3 class={twMerge('text-xl font-bold', titleClass, itemClasses?.title)}>{title}</h3>}
              {description && (
                <p
                  class={twMerge(`${title ? 'mt-3' : ''} text-muted`, descriptionClass, itemClasses?.description)}
                  set:html={description}
                />
              )}
              {callToAction && (
                <div class={twMerge(`${title || description ? 'mt-3' : ''}`, actionClass, itemClasses?.actionClass)}>
                  <Button variant="link" {...callToAction} />
                </div>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  )
}
